#item-list {
    border: solid 1px var(--on-background-med);
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1%;
}

.item {
    /* default size for list items */
    display: flex;
    flex-direction: row;
    font-size: 14px;
    height: 50px;
    width: 100%;
    border: solid 1px var(--on-background-med);
}

.item img {
    height:100%;
    object-fit: contain;
    object-position: center;
    padding-right: 1%;
}  
  
.small-list .item {
    /* small size for list items */
    font-size: 12px;
    height: 40px;
    width: 100%;
}
  
.large-list .item {
    /* large size for list items */
    font-size: 16px;
    height: 60px;
    width: 100%;
}
  
.small-card .card {
    /* small size for card items */
    font-size: 14px;
    flex: 0 0 12%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    margin-bottom: 0.3%;
    height: auto;
}
  
.large-card .card {
    /* large size for card items */
    font-size: 18px;
    flex: 0 0 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    height: auto;
}

.item,
.card{
    transition: transform 0.15s linear;
    color: var(--on-background-high);
    background: linear-gradient(0deg, var(--background) 0%, var(--surface) 100%);
}

.item:hover,
.card:hover {
    transform: scale(1.02);
    border: solid 1px var(--light);
}

button {
    background-color: var(--on-background-med);
    color: var(--surface);
    font-weight: bold;
}

.selected {
    background-color: var(--light);
    color: var(--brand);
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .item {
        flex: 0 0 100%; /* occupy the full width of the container */
    }

    .small-card .card {
        /* small size for card items */
        font-size: 14px;
        flex: 0 0 24%;
        margin-left: 0.3%;
        margin-right: 0.3%;
        margin-bottom: 0.3%;
        height: auto;
    }
      
    .large-card .card {
        /* large size for card items */
        font-size: 18px;
        flex: 0 0 48%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        height: auto;
    }
}