.deepWater{
    background: linear-gradient(0deg, rgba(0, 124, 125, 0.78) 0%, rgba(255,219,179,0.9472163865546218) 100%);
}
/* Forms */
form {
    background-color: #F7C5D2;
}

.main-form {
    width: 450px;
    margin: auto;
}

.bgMain {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(148, 187, 233) 100%);
}

body {
    font-family:monospace;
    letter-spacing: -1px;
    color: #1f1f1f;
} 

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #006363c7;
    text-shadow: 0 0 4px #F7C5D2;
}


a:hover {
    color:#F7C5D2;
}

/* Card styling */

#emptyCard,
#featuredCard {
    width:1000px; height:300px;
}

#deck {
    /* Other styles for the card deck */
    padding: 0 20px; /* Add padding to the left and right of the card deck */
    max-width: 600px; /* Set maximum width of the container */
    margin: 0 auto; /* Center the container within the screen */
    width: 1000px; /* Set a width for the container that is larger than the combined width of all the cards */
}

.card {
    background-color: #FFFFFF;
}

.card-title {
    font-weight: bold;
}

.selectedCard {
    position: relative;
    z-index: 1;
    border: 1px solid #eeaeca;
    background-color: #006363c7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: white;
}

.miniCard {
    min-width: 200px;
    height: 420px;
    width: 200px;
    margin: 10px;
    overflow: hidden;
}



.profitable {
    border: 3px solid chartreuse;
}

.notProfitable {
    border: 3px solid tomato;
}

#show-more {
    color:dodgerblue;
    text-decoration: underline;
}

#show-more:hover {
    color:coral;
    text-decoration: none;
}

#show-less {
    color:coral;
    text-decoration: underline;
}

#show-less:hover {
    color:dodgerblue;
    text-decoration: none;
}


/* Carousel styling and positioning */ 

.carousel {
    display: flex;
    overflow-x: auto;
    width:1100px;
    margin: 0 auto;
}

.carousel-item {
    flex: 0 0 auto;
}

.carousel-chevron {
    cursor: pointer;
    align-self: center;
}

.carousel-control-prev,
.carousel-control-next {
    font-weight: bold;
}

.hidden {
    display: none;
}