/* Working Palettes:

--primary-color:    #146070;     
--secondary-color:  #729DA6;     
--tertiary-color:   #DE5350;     
--accent-color:     #A69099;     
--background:      #CED9D5;     

--primary-color:    #1C2D29;
--secondary-color:  #900409;
--tertiary-color:   #399AB1;
--accent-color:     #38372F;
--background:      #A8DBCB;

--primary-color:    #63373A; 
--secondary-color:  #6395B0; 
--tertiary-color:   #B0AF8F; 
--accent-color:     #5A6971; 
--background:      #A8DBCB; 


GREYS DARK -> LIGHT
--grey-10: #17181A;
--grey-30: #46484D;
--grey-50: #747780;
--grey-70: #A2A7B3;
--grey-90: #D1D7E6;


--grey-mn:              #070708;
--grey-10:              #17181A;
--grey-20:              #2D2F33;
--grey-30:              #46484D;
--grey-50:              #747780;
--grey-70:              #A2A7B3;
--grey-80:              #B4BCCC;
--grey-90:              #D1D7E6;
--grey-mx:              #E0EBFF;
*/

/* COLOR PALETTES */
/* Maybe need BG1 BG2 and TEXT1 TEXT2 */
    :root {


        --grey-mn:              #0C0D0D;
        --grey-10:              #19191A;
        --grey-20:              #313333;
        --grey-30:              #4A4C4D;
        --grey-40:              #636566;
        --grey-50:              #7C7F80;
        --grey-60:              #949899;
        --grey-70:              #B0B4B5;
        --grey-80:              #C8CDCF;
        --grey-90:              #E1E6E8;
        --grey-mx:              #F7FDFF;

        --brand-primary:        #EB455F;                  /* Striking brand colour    */
        --brand-secondary:      #2B3467;                  /* Dark brand colour        */
        --brand-alt:            #BAD7E9;                  /* Light brand colour       */



        --primary:              var(--brand-primary);       /* BRAND                    */
        --secondary:            var(--brand-alt);           /* ACCENT                   */
        --tertiary:             var(--brand-secondary);     /* ALT                      */
        --on-background-high:   var(--grey-10);             /* HIGH CONTRAST            */
        --on-background-med:    var(--grey-30);             /* MEDIUM CONTRAST          */
        --on-background-low:    var(--grey-50);             /* LOW CONTRAST             */
        --background-subtle:    var(--grey-70);             /* EXTRA LOW CONTRAST       */
        --surface:              var(--grey-80);             /* EXTRA-EXTRA LOW CONTRAST */
        --background:           var(--grey-mx);             /* WHITE/BLACK              */
                 
    }

    .dark-mode {

        --primary:              var(--brand-primary);       /* BRAND                    */
        --secondary:            var(--brand-secondary);     /* ACCENT                   */
        --tertiary:             var(--brand-alt);           /* ALT                      */
        --on-background-high:   var(--grey-90);             /* HIGH CONTRAST            */
        --on-background-med:    var(--grey-70);             /* MEDIUM CONTRAST          */
        --on-background-low:    var(--grey-50);             /* LOW CONTRAST             */
        --background-subtle:    var(--grey-30);             /* EXTRA LOW CONTRAST       */
        --surface:              var(--grey-20);             /* EXTRA-EXTRA LOW CONTRAST */
        --background:           var(--grey-mn);             /* WHITE/BLACK              */
    }

/* NAVIGATION */

    .navbar {
        /*background-color: var(--on-background-low);*/
        border-bottom: 1px solid var(--primary);
        background: linear-gradient(0deg, var(--on-background-low) 0%, var(--background-subtle) 100%);
    }

    .nav-link {
        color: var(--on-background-high) !important;
    }

    .nav-link:hover {
        color: var(--primary) !important;
    }

    .nav-link.disabled {
        color: var(--on-background-med) !important;
    }

    a {
        color: var(--tertiary)
    }

    a:hover {
        color: var(--primary);
    }

/*  BASIC FORMATTING */

    .bgMain {
        background-color: var(--background);
        background: radial-gradient(circle, var(--background) 0%, var(--surface) 100%);
    }

    body {
        font-family:monospace;
        font-size: smaller;
        letter-spacing: -1px;
        color: var(--on-background-high);
    } 

    h4, h5, h6 {
        font-weight: bold;
        color: var(--tertiary);
    }


/* CARDS & CARD DECKS */

    #emptyCard,
    #featuredCard {
        margin-top: 1%;
        width:60%; height:40%;
        background: linear-gradient(0deg, var(--background-subtle) 0%, var(--on-background-low) 100%);
        color: var(--on-background-high);
    }

    #deck {
        max-width: 70%; 
        margin: 0 auto; 
        width: 70%; 
    }

    .card {
        background-color: var(--background);
    }

    .card-title {
        font-weight: bold;
    }
    
    .miniCard {
        min-width: 25%;
        min-height: 90%;
        height: 90%;
        width: 25%;
        margin: 1%;
        overflow: hidden;
        background: linear-gradient(0deg, var(--surface) 0%, var(--background-subtle) 100%);
        color: var(--on-background-high);
        transition: transform 0.15s linear;
    }

    .miniCard:hover {
        transform: scale(1.02);
        border: solid 1px var(--tertiary);
    }

    .card-body {
        overflow: visible;
    }

    .card-text-container {
        white-space: pre-wrap;
    }

    .selectedCard {
        position: relative;
        z-index: 1;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border: 2px solid var(--secondary) !important;
        background: linear-gradient(0deg, var(--on-background-low) 0%, var(--on-background-med) 100%) !important;
        color: var(--surface) !important;
        transform: scale(1.02);
    }

    .selectedCard h6 {
        color: var(--secondary) !important;
    }

    #show-more,
    #show-less {
        color: var(--secondary);
        text-decoration: none;
    }
    #show-more:hover,
    #show-less:hover {
        color: var(--background);
        text-decoration: underline;
    }

    .profitable {
        border: 3px solid chartreuse;
    }

    .notProfitable {
        border: 3px solid tomato;
    }


/* CAROUSEL */ 

    .carousel {
        display: flex;
        overflow-x: auto;
        overflow-y: visible;
        width:65%;
        height: 50%;
        margin: 0 auto;
        background-color: var(--background-subtle);
    }

    .carousel-item {
        flex: 0 0 auto;
    }

    .carousel-chevron {
        cursor: pointer;
        align-self: center;      
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-weight: bold;
        color: var(--on-background-high) !important;
        width: 7%;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        color: var(--tertiary) !important;
    }

/* SIDEBAR COLUMNS */

    #left-column {
        padding: 0.5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1%;
        bottom: auto;
        width: 10%;
        height: 60%;
        background: linear-gradient(0deg, var(--surface) 0%, var(--background-subtle) 100%);
        border: solid 1px var(--tertiary);
        border-radius: 10px;
    }

    #right-column {
        padding: 0.5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1%;
        bottom: 0;
        width: 10%;
        height: 60%;
        color: var(--on-background-high);
        background: linear-gradient(0deg, var(--surface) 0%, var(--background-subtle) 100%);
        border: solid 1px var(--tertiary);  
        border-radius: 10px;
    }

/* Forms */
    form {
        background: linear-gradient(0deg, var(--surface) 0%, var(--background-subtle) 100%);
        color: var(--on-background-high);
        padding: 1%;
        border-radius: 10px;
    }

    .main-form {
        width: 40%;
        margin: auto;
        font-size: larger;
    }

    .main-form button {
        background-color: var(--surface);
        color: var(--on-background-high);
        border: solid 1px var(--tertiary)
    }

    .main-form button:hover {
        background-color: var(--secondary);
        color: var(--background);
        border: solid 1px var(--tertiary);
    }

    select option,
    input[type="text"],
    input[type="number"] {
        background-color: var(--background-subtle); 
        color: var(--on-background-high); 
        caret-color: var(--on-background-high);
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus {
        background-color: var(--background-subtle); 
        color: var(--tertiary);
        caret-color: var(--tertiary); 
    }
      
    input[type="checkbox"]:not(:checked) {
        background-color: var(--background-subtle);
    }

    input[type="checkbox"]:checked {
        background-color: var(--secondary);
    }

    select option:checked {
        background-color: var(--tertiary);
        color: var(--background);
        border-radius: 5px;
    }

    #collection {
        background-color: var(--background-subtle);
    }

    i {
        transition: transform 0.15s linear;
        font-size: 24px;
        margin: 1%;
        border-radius: 3px;
      }
    
    i:hover {
        transform: scale(1.1) !important;
    }
      
      
    

/* MOBILE DISPLAY STYLING */
    @media (max-width: 768px) {

        body {
            font-size: xx-small !important;
        }
        #deck {
            flex-wrap: wrap;
        }

        .miniCard {
            min-width: 45%;
            width: 45%;
        }

        #cardCarousel {
            width: 90%;
            flex-wrap: wrap;
        }

        #left-column,
        #right-column {
            top: 40%;
            height: 40%;
            width: 20%;
        }

        .main-form {
            width: 85%;
        }
    }