.deepWater{
    color: crimson;
    background: linear-gradient(0deg, rgba(1,2,82,0.9472163865546218) 0%, rgba(0,124,125,0.7791491596638656) 100%);
}

.main-form {
    width: 450px;
    margin: auto;
}

.bgMain {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}