{% extends "layout.html" %}

{% block head %}
    <link href="/static/activityStyles.css" rel="stylesheet">   
    <title>Activity</title>
{% endblock %}
{% block main %}
<div class="container flex justify-content-center">
    <div class="d-flex justify-content-start">
      <h5>Showing {{ all | length }} / {{ all | length }}</h5>
    </div>
    <div id="size-buttons" class="container d-flex mx-auto justify-content-end">
        <button data-class="small-list">Small List</button>
        <button data-class="large-list">Large List</button>
        <button data-class="small-card">Small Card</button>
        <button data-class="large-card">Large Card</button>
    </div>
    <div id="item-list" class="container d-flex mx-auto">
        {% for item in all %}
            <div class="item">
                <img src="{{item.image}}">
                <h6>{{ item.name }}</h6>
            </div>
        {% endfor %}
    </div>
</div>


<template id="card-template">
    <div class="card">
        <img class="card-img-top" src="" alt="Card image">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
        </div>
    </div>
</template>
  

<script> const all = '{{ all|tojson }}'; </script>
<script src="/static/activityScript.js"></script>
{% endblock %}


