{% extends "layout.html" %}



{% block head %}
        <title>Home</title>
        <link rel="icon" href="/static/icon/house-fill.svg" type="image/icon type">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% block main %}

    <div id="left-column" class="pColumn">
        <details>
            <summary><i class="bi bi-clock-fill"></i> Quick Actions</summary>
            <ul>
                <li>Stop Piranha</li>
                <li>Feed Piranha with currently filtered collections</li>
                <li>Convert WETH to ETH</li>
                <li>Convert ETH to WETH</li>
                <li>Withdraw profits</li>
                <li>Use another wallet</li>
            </ul>
        </details>
        <details>
            <summary><i class="bi bi-eye-fill"></i> Watched Collections</summary>
            <ul>
                <li>The Plague</li>
                <li>Sappy Seals</li>
                <li>BAYC</li>
                <li>Squishiverse</li>
                <li>Roo Troop</li>
                <li>Otherside Land</li>
                <li>Blocktones</li>
            </ul>
        </details>
        <details>
            <summary><i class="bi bi-sort-down"></i> Sort By</summary>
            <ul>
                <li>Potential Profit</li>
                <li>Collection Name</li>
                <li>Price</li>
                <li>Collection Profitability</li>
            </ul>
        </details>
        <details>
            <summary><i class="bi bi-filter"></i> Filter</summary>
            <details>
                <summary>Collections</summary>
                <ul>
                    <li>The Plague</li>
                    <li>Sappy Seals</li>
                    <li>BAYC</li>
                    <li>Squishiverse</li>
                    <li>Roo Troop</li>
                    <li>Otherside Land</li>
                    <li>Blocktones</li>
                </ul>
            </details>
            <form style="font-size: larger">
                <div class="form-group">
                    <label for="priceRange"><h6>Price Range: (No use yet)</h6></label>
                    <div class="row" style="text-align: center;">
                        <div class="col">MIN</div>
                        <div class="col">MAX</div>
                    </div>
                    <input type="range" class="form-control-range" id="priceRangeMin" min="0" max="100" value="0">
                    <input type="range" class="form-control-range" id="priceRangeMax" min="0" max="100" value="100">
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col" id="priceRangeMinValue"></div>
                    <div class="col" id="priceRangeMaxValue"></div>
                </div>
            </form>
            <form style="font-size: larger">
                <div class="form-group">
                    <label for="profitMargin"><h6>Profit Margin: (No use yet)</h6></label>
                    <div class="row" style="text-align: center;">
                        <div class="col">MIN</div>
                        <div class="col">MAX</div>
                    </div>
                    <input type="range" class="form-control-range" id="profitMarginMin" min="0" max="100" value="0">
                    <input type="range" class="form-control-range" id="profitMarginMax" min="0" max="100" value="100">
                    <div class="row" style="text-align: center;">
                        <div class="col" id="profitMarginMinValue"></div>
                        <div class="col" id="profitMarginMaxValue"></div>
                    </div>
                </div>
            </form>
        </details>
    </div>

    <div id="cardCarousel" class="carousel carousel-dark slide" data-ride="carousel" data-interval="0">
        <div class="carousel-indicators">
            {% for i in range(0, all|length, 4) %}
                {% if loop.first %}
                    <button type="button" data-bs-target="#cardCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% else %}
                    <button type="button" data-bs-target="#cardCarousel" data-bs-slide-to="{{ i/4 }}" aria-label="Slide {{ (i/4) + 1 }}"></button>
                {% endif %}
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for i in range(0, all|length, 4) %}
                {% if loop.first %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <div id="deck" class="card-columns d-flex justify-content-center">
                        {% for card in all[i:i+4] %}
                            <div class="card miniCard">
                                <img src="{{card['image']}}" class="card-img-top" alt="{{card['name']}}">
                                <div class="card-body">
                                    <div class="button-group mt-auto mb-2">
                                        <a href="{{'https://opensea.io/assets/ethereum/%s/%s/' % (card['address'], card['token'])}}" target="_blank"><img style="background-color: var(--brand);" class="pSvg" src="/static/icon/Opensea-Logo-Transparent.svg" alt="Opensea" href="https://opensea.io"></a>
                                        <img class="pSvg" src="/static/icon/blur-logo.png">
                                        <a href="{{'https://looksrare.org/collections/%s/%s' % (card['address'], card['token'])}}"><img class="pSvg" src="/static/icon/looksrare-logo.svg"></a>
                                        <a href = "{{'https://sudoswap.xyz/#/item/%s/%s' % (card['address'], card['token'])}}" target="_blank"><img class="pSvg" src="/static/icon/Sudoswap-Logo.svg"></a>
                                    </div>
                                    <h6 class="card-title" style="font-weight:bold">{{card['name']}}</h6>
                                    <div class="card-text-container">Price: {{card['price']}}Ξ <br>Collection: {{card['slug']}} <br>Best WETH: {{card['bestWETH']}}Ξ
                                        <a href="{{'https://opensea.io/assets/ethereum/%s/%s/' % (card['address'], card['token'])}}">For more info: {{'https://opensea.io/assets/ethereum/%s/%s/' % (card['address'], card['token'])}}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button class="carousel-control-prev carouselCtrl" href="#cardCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </button>
            <button class="carousel-control-next carouselCtrl" href="#cardCarousel" role="button" data-slide="next">
                <span class="sr-only">Next</span>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <hr width="50%" class="mx-auto">

    <div id="emptyCard" class="js-plotly-plot mb-3 mx-auto justify-content-center">
    </div>
    <!-- If i create this variable first then graph.js can use it-->
    <script>var graphData = JSON.parse('{{ graphData | tojson}}');</script>
    <script src="/static/graph.js"></script>

    <div id="featuredCard" class="card mb-3 mx-auto" style="display: none;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" style="height: 100%; width: auto" alt="This should pull collection name and token id">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">'Selected' Card</h5>
                    <div class="card-text" style="white-space: pre-wrap;">Buy price, WETH offers on different marketplaces, potential P&L etc<br>Global Collection Floor: 0.24Ξ (Blur)| Global Trait Floor: 0.9Ξ (Blur)<br>Best Collection Offer: 0.2Ξ  (Opensea)|  Best Trait Offer: 0.39Ξ (Looksrare)
                    </div>
                    <div class="d-flex flex-column align-self-end">
                        <a href="https://opensea.io/assets/ethereum/0x8c3fb10693b228e8b976ff33ce88f97ce2ea9563/843" target="_blank" class="btn btn-primary osLink"><span style="font-weight: bold;">Opensea</span><p style="font-size:smaller; margin-bottom: 0em;">Seen for 0.239Ξ  |  PNL: 0.1321Ξ (-12.5%)</p></a>
                        <a href="https://sudoswap.xyz/#/browse/pools/0x8c3FB10693B228E8b976FF33cE88f97Ce2EA9563" target="_blank" class="btn btn-secondary disabled"><span style="font-weight: bold;">Sudoswap</span> if available<p style="font-size:smaller; margin-bottom: 0em;">Pool Buys For: 0.204Ξ  | Sells For: 0.248Ξ | Liquidity: 8.748Ξ : 69 NFTs</p></a>
                        <div style="padding-top:1%">
                            <p class="card-text"><small class="p-2">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div id="right-column">
        Basic Sidebar Div
    </div>
    -->
{% endblock %}




