{% extends "layout.html" %}

{% block title %}
    Piranha Home
{% endblock %}

{% block main %}

    <!-- 'Selected card' to go at top, can display more values than most cards and change as cards are toggled-->
    <div class="card mb-3 mx-auto" style="max-width:1000px; max-height:600px; background-color:antiquewhite">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/theplague843.png" class="img-fluid rounded-start" style="max-height:600px" alt="This should pull collection name and token id">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">'Selected' Card</h5>
                    <p class="card-text">Using javascript, we'll select a card from below, use JS to feed more info on listing to this card</p>
                    <p class="card-text">Buy price, WETH offers on different marketplaces, potential P&L etc</p>
                    <div class="d-flex align-items flex-column mb-auto">
                        <a href="https://opensea.io/assets/ethereum/0x8c3fb10693b228e8b976ff33ce88f97ce2ea9563/843" target="_blank" class="btn btn-primary"><span style="font-weight: bold;">Opensea:</span> Seen for 0.239Ξ  |  PNL: 0.1321Ξ (-12.5%)<p style="font-size:smaller; margin-bottom: 0em;">Collection Floor: 0.24Ξ | Trait Floor: 0.9Ξ |  Best Collection Offer: 0.2Ξ  |  Best Trait Offer: 0.39Ξ</p></a>
                        <a href="https://looksrare.org/collections/0x8c3FB10693B228E8b976FF33cE88f97Ce2EA9563/843" target="_blank" class="btn btn-secondary"><span style="font-weight: bold;">Next best marketplace:</span> PNL: ...Ξ<p style="font-size:smaller; margin-bottom: 0em">Collection Floor: ...Ξ | Trait Floor: ...Ξ | Best Offer: ...Ξ  | PNL (-....%): ...Ξ</p></a>
                        <a href="https://sudoswap.xyz/#/browse/pools/0x8c3FB10693B228E8b976FF33cE88f97Ce2EA9563" target="_blank" class="btn btn-primary"><span style="font-weight: bold;">Sudoswap</span> if available, disabled if not: PNL: ...Ξ<p style="font-size:smaller; margin-bottom: 0em;">Top Pool Buys For: 0.204Ξ  | Sells For: 0.248Ξ | Liquidity In Pool: 8.748Ξ | 69 NFTs</p></a>
                        <div class="align-items-end" style="padding-top:20px">
                            <p class="card-text"><small class="text-muted p-2">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center">
        <h2>Listings Spotted:</h2>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="/static/sappyseal4691.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sappy Seal #4691</h5>
                <p class="card-text">Quick info, taxes, sudoswap pool active? etc. Buy button auto coloured red or green depending on profitability (margin included)</p>
                <div class="d-flex">
                    <a href="https://opensea.io/assets/ethereum/0x364c828ee171616a39897688a831c2499ad972ec/4691" target="_blank" class="btn btn-primary">Best buy on OS for: 0.68Ξ </a>
                    <a href="https://opensea.io/assets/ethereum/0x364c828ee171616a39897688a831c2499ad972ec/4691" target="_blank" class="btn btn-danger">Best offer: 0.77Ξ  </a>
                </div>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="static/bayc1971.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BAYC #1971</h5>
              <p class="card-text">Button alignment needs fixing</p>
              <div class="d-flex">
                <a href="https://opensea.io/assets/ethereum/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d/1971" target="_blank" class="btn btn-primary">Best buy on OS for: 68.35Ξ </a>
                <a href="https://opensea.io/assets/ethereum/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d/1971" target="_blank" class="btn btn-danger">Best offer: 70.2Ξ  </a>
            </div>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/static/doodle7875.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Doodle #7875</h5>
              <p class="card-text"></p>
              <div class="d-flex">
                <a href="https://opensea.io/assets/ethereum/0x8a90cab2b38dba80c64b7734e58ee1db38b8992e/7875" target="_blank" class="btn btn-primary">Best buy on OS for: 6.7Ξ </a>
                <a href="https://opensea.io/assets/ethereum/0x8a90cab2b38dba80c64b7734e58ee1db38b8992e/7875" target="_blank" class="btn btn-danger">Best offer: 6.9Ξ  </a>
            </div>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/static/theplague843.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Plague #843</h5>
              <p class="card-text"></p>
              <div class="d-flex">
                <a href="https://opensea.io/assets/ethereum/0x8c3fb10693b228e8b976ff33ce88f97ce2ea9563/843" target="_blank" class="btn btn-primary">Best buy on OS for: 0.239Ξ </a>
                <a href="https://opensea.io/assets/ethereum/0x8c3fb10693b228e8b976ff33ce88f97ce2ea9563/843" target="_blank" class="btn btn-success">Best offer: 0.39Ξ  </a>
            </div>
            </div>
          </div>
    </div>

{% endblock %}
