{% extends "layout.html" %}

{% block title %}
    Piranha Home
      
{% endblock %}

{% block main %}


<div id="left-column"></div>
    <!-- 'Featured card' to go at top, can display more values than most cards and change as cards are selected-->
    <div id="emptyCard" class="card mb-3 mx-auto justify-content-center">
        <h1> 3=============================================D Nyoom ~~</h1>
    </div>
    <div id="featuredCard" class="card mb-3 mx-auto" style="background-color:antiquewhite;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" style="height: 300px; width: auto" alt="This should pull collection name and token id">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">'Selected' Card</h5>
                    <div class="card-text" style="white-space: wrap;">Buy price, WETH offers on different marketplaces, potential P&L etc<br>
                        Global Collection Floor: 0.24Ξ (Blur)| Global Trait Floor: 0.9Ξ (Blur)<br>
                        Best Collection Offer: 0.2Ξ  (Opensea)|  Best Trait Offer: 0.39Ξ (Looksrare)
                    </div>
                    <div class="d-flex align-items flex-column mb-auto">
                        <a href="https://opensea.io/assets/ethereum/0x8c3fb10693b228e8b976ff33ce88f97ce2ea9563/843" target="_blank" class="btn btn-primary osLink"><span style="font-weight: bold;">Opensea</span><p style="font-size:smaller; margin-bottom: 0em;">Seen for 0.239Ξ  |  PNL: 0.1321Ξ (-12.5%)</p></a>
                        <a href="https://sudoswap.xyz/#/browse/pools/0x8c3FB10693B228E8b976FF33cE88f97Ce2EA9563" target="_blank" class="btn btn-secondary disabled"><span style="font-weight: bold;">Sudoswap</span> if available, disabled if not: PNL: ...Ξ<p style="font-size:smaller; margin-bottom: 0em;">Top Pool Buys For: 0.204Ξ  | Sells For: 0.248Ξ | Liquidity In Pool: 8.748Ξ : 69 NFTs</p></a>
                        <div class="align-items-end" style="padding-top:20px">
                            <p class="card-text"><small class="text-muted p-2">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center">
        <h4>Listings Spotted:</h4>
    </div>

    <div id="cardCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
        <div class="carousel-inner">
            {% for i in range(0, all|length, 3) %}
                {% if loop.first %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                <div id="deck" class="card-columns d-flex justify-content-center">
                {% for card in all[i:i+3] %}
                    <!--if card is profitable, add .profitable class? and if not add .notProfitable class for styling -->
                    <div class="card miniCard">
                        <img src="{{card['image']}}" class="card-img-top" alt="{{card['name']}}">
                        <div class="card-body">
                            <div class="button-group mt-auto d-flex flex-column mb-2">
                                <a href="{{'https://opensea.io/assets/ethereum/%s/%s/' % (card['address'], card['token'])}}" target="_blank" class="btn btn-primary osLink">View on Opensea</a>
                                <!--if card is profitable, make green, if not make red, can also do this with the border
                                    <a href="" target="_blank" class="btn btn-danger"></a> -->
                            </div>
                            <h6 class="card-title" style="font-weight:bold">{{card['name']}}</h6>
                            <div class="card-text-container">NFT info, prices etc
                                {{card['slug']}} {{'https://opensea.io/assets/ethereum/%s/%s/' % (card['address'], card['token'])}}
                                Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <a id="show-more" style="display: none;">Show More</a>
                            <a id="show-less" style="display: none;">Show Less</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
            
        </div>
        <button class="carousel-control-prev carouselCont" href="#cardCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Prev</span>
        </button>
        <button class="carousel-control-next carouselCont" href="#cardCarousel" role="button" data-slide="next">
            <span class="sr-only">Next</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
        </div>
    </div>

<div id="right-column">Basic Sidebar Div</div>


{% endblock %}



        