{% extends "layout.html" %}

{% block head %}
    <title>For Testing</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block main %}
<div id="emptyCard" class="js-plotly-plot mb-3 mx-auto justify-content-center">
</div>

<!-- If i create this variable first thenj graph.js can use it-->
<script>var graphData = JSON.parse('{{ graphData | tojson}}');</script>
<script src="/static/graph.js"></script>

<form action="/ping" method="post">
    <button type="submit">Run Python File</button>
</form>

{% endblock %}