{% extends "layout.html" %}

{% block head %}  
    <title>Tracker</title>
    <link rel="icon" href="/static/icon/map.svg" type="image/icon type">
{% endblock %}

{% block main %}
<body>
    <div class="container mt-5" style="width: 65%">
        <h1 class="text-center mb-4">Tracker: WIP</h1>
        <div class="row">
            <div class="col">
                <h4>Track a wallet:</h4>
                <!-- Checkboxes -->
                <form class="mb-4" action="/add-wallet" method="post">
                    <div style="display: flex; justify-content: space-evenly;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="add-wallet" name="wallet-action" value="add" checked>
                            <label class="form-check-label" for="add-wallet">Add Wallet</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="remove-wallet" name="wallet-action" value="remove">
                            <label class="form-check-label" for="remove wallet">Remove Wallet</label>
                        </div>
                    </div>
                    <!-- Templates go here -->
                    <span id="wallet"></span>
                
                    <!-- Templates -->
                    <template id="add-wallet-template">
                        <input type="text" class="form-control" id="walletName" name="walletName" placeholder="Wallet Nickname" required>
                        <input type="text" class="form-control" id="wallet" name="wallet" placeholder="Wallet Address/ENS" required>
                        <button id="add-button" class="btn">Add Wallet</button>
                    </template>
                
                    <template id="remove-wallet-template">
                        <select class="form-control" id="walletName" name="walletName" required>
                            <!-- TODO: add entry for each wallet from wallets -->
                            <option>Select a wallet to remove</option>
                            {% for wallet in wallets %}
                                <option value="">{{ wallet.address }}</option>
                            {% endfor %}
                        </select>
                        <button id="remove-button" class="btn">Remove Wallet</button>
                    </template>
                </form>
                
                <!-- TODO: WALLET TABLE, WILL REQUIRE A JINJA LOOP -->
                <div id="table-div" style="width: 100%">
                    <table class="table" style="text-align: center; font-size: large;">
                        <thead>
                            <tr height="10px">
                                <th scope="col">Track</th>
                                <th scope="col">Wallet Nickname</th>
                                <th scope="col">Wallet Address</th>
                                <th scope="col">Links</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col"><input class="form-check-input" type="checkbox" id="track-checkbox" name="track-checkbox"></th>
                                <th scope="col">prie5t.eth</th>
                                <th scope="col">0xDa06d7bF334bc5cCec9CB76de194565937378140</th>
                                <th scope="col">
                                    <div class="button-group">
                                        <a href="https://opensea.io/PRIE5T" target="_blank"><img style="background-color: var(--brand);" class="pSvg" src="/static/icon/Opensea-Logo-Transparent.svg" alt="Opensea"></a>
                                        <a href="https://etherscan.io/address/0xda06d7bf334bc5ccec9cb76de194565937378140" target="_blank"><img class="pSvg" src="/static/icon/etherscan-logo-circle.svg"></a>
                                    </div>
                                </th>
                                <th scope="col"><i class="bi bi-trash"></i></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <!-- Form for adding a new holding -->
                <form class="mb-4" action="/add-holding" method="post">
                    <div class="form-group">
                        <!-- TODO: make this a select dropdown -->
                        <label for="owner">Owner</label>
                        <input type="text" class="form-control" id="owner" name="owner" required>
                    </div>
                    <div class="form-group">
                        <label for="collection-address">Collection Address</label>
                        <input type="text" class="form-control" id="collection-address" name="collection-address" required>
                    </div>
                    <div class="form-group">
                        <label for="token-id">Token ID</label>
                        <input type="text" class="form-control" id="token-id" name="token-id" required>
                    </div>
                    <button type="submit" class="btn" style="margin-top:10px;">Add Holding</button>
                </form>
            </div>
        </div>
  
        <!-- Holdings Table -->
        <div id="table-div" style="display: none;">
            <table class="table" style="text-align: center; font-size: large;">
                <thead>
                    <tr height="10px">
                        <th scope="col">Owner</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Collection</th>
                        <th scope="col">Token ID</th>
                        <th scope="col">Purchase Price</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">PNL</th>
                        <th scope="col">Links</th>
                        <th scope="col">Bought Time</th>
                        <th scope="col">Hold Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for holding in holdings %}
                        <tr>
                            <td>{{ holding.owner }}</td>
                            <td>
                                <img src="{{ holding.image }}" alt="{{ holding.name }}" class="zoomable">
                                <!-- Add a button to toggle the size of the image -->
                                <button class="btn btn-secondary btn-sm" onclick="zoomImage(this)">+/-</button>
                                <!-- Add a button to return the size of the image to its original size -->
                                <button class="btn btn-secondary btn-sm" onclick="resetImage(this)">~</button>
                            </td>
                            <td>{{ holding.name }}</td>
                            <td>{{ holding.collection }}</td>
                            <td>{{ holding.token_id }}</td>
                            <td>{{ holding.purchase_price }}</td>
                            <td>{{ holding.current_price }}</td>
                            <td>{{ holding.pnl }}</td>
                            <td>
                                <a href="{{'https://opensea.io/assets/ethereum/%s/%s/' % (holding['address'], holding['token'])}}" target="_blank"><img class="pSvg" src="/static/icon/Opensea-Logo-Transparent.svg" alt="Opensea" style="background-color: var(--brand);"></a>
                                <img class="pSvg" src="/static/icon/blur-logo.png">
                                <img class="pSvg" src="/static/icon/looksrare-logo.svg">
                                <img class="pSvg" src="/static/icon/Sudoswap-Logo.svg">                   
                            </td>
                            <td>{{ holding.bought_time }}</td>
                            <td>{{ holding.sold_time }}</td>
                            <td>{{ holding.hold_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
  
        <!-- Right Sidebar -->
        <div id="right-column" class="pColumn">
            <h5 class="text-center mb-4">Filters</h5
>
            <!-- Add a button for each distinct collection in the holdings table -->
            <!-- TODO: Make filter options functional -->
            {% for holding in holdings|groupby('collection') %}
               <button class="btn btn-secondary mb-2" data-collection="{{ holding.groouper }}">{{ holding.grouper }}</button>
               <br>
            {% endfor %}

            <!-- Filter Controls -->
            <div class="mb-4">
                <!-- Dropdown menus for filtering by owner, collection, and token ID -->
                <form class="form-inline mb-4">
                    <label class="mr-2" for="filter-owner">Owner</label>
                    <select class="form-control mr-2" id="filter-owner" name="filter-owner">
                        <option value="">All</option>
                        <!-- Add options for each distinct owner in the holdings table -->
                    </select>
                    <label class="mr-2" for="filter-collection">Collection</label>
                    <select class="form-control mr-2" id="filter-collection" name="filter-collection">
                        <option value="">All</option>
                        <!-- Add options for each distinct collection in the holdings table -->
                        {% for holding in holdings|groupby('collection') %}
                            <option value="">{{ holding.grouper }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
    
                <!-- Text fields for filtering by purchase price and current price -->
                <form class="form-inline mb-4">
                    <label class="mr-2" for="filter-purchase-price-min">Purchase Price</label>
                    <input type="number" min="0" step="0.01" class="form-control mr-2" id="filter-purchase-price-min" name="filter-purchase-price-min" placeholder="Min">
                    <input type="number" min="0" step="0.01" class="form-control mr-2" id="filter-purchase-price-max" name="filter-purchase-price-max" placeholder="Max">
                    <label class="mr-2" for="filter-current-price-min">Current Price</label>
                    <input type="number" min="0" step="0.01" class="form-control mr-2" id="filter-current-price-min" name="filter-current-price-min" placeholder="Min">
                    <input type="number" min="0" step="0.01" class="form-control mr-2" id="filter-current-price-max" name="filter-current-price-max" placeholder="Max">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            
                <!-- Checkboxes for filtering by PNL, bought time, and sold time -->
                <form class="form-inline mb-4">
                    <label class="mr-2" for="filter-pnl-positive">PNL</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filter-pnl-positive" name="filter-pnl-positive" value="positive">
                        <label class="form-check-label" for="filter-pnl-positive">Positive</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="filter-pnl-negative" name="filter-pnl-negative" value="negative">
                        <label class="form-check-label" for="filter-pnl-negative">Negative</label>
                    </div>
                    <label class="mr-2" for="filter-bought-time">Bought Time</label>
                    <input type="datetime-local" class="form-control mr-2" id="filter-bought-time-min" name="filter-bought-time-min" placeholder="Min">
                    <input type="datetime-local" class="form-control mr-2" id="filter-bought-time-max" name="filter-bought-time-max" placeholder="Max">
                    <label class="mr-2" for="filter-sold-time">Sold Time</label>
                    <input type="datetime-local" class="form-control mr-2" id="filter-sold-time-min" name="filter-sold-time-min" placeholder="Min">
                    <input type="datetime-local" class="form-control mr-2" id="filter-sold-time-max" name="filter-sold-time-max" placeholder="Max">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
    </div>

    

    <div class="container input-group mb-3">
        <input type="text" class="form-control search-address" placeholder="Search address" aria-label="Search address" aria-describedby="search-btn">
        <button class="btn btn-primary" type="button" id="search-btn">Search</button>
    </div>

    <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#internal">Internal Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#erc20">ERC20 Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#erc721">ERC721 Transactions</a>
                </li>
            </ul>
        
            <div class="tab-content">

            <!-- Internal Transactions -->
            <div class="tab-pane fade show active" id="internal">
                <div class="container">
                    <h2>Transaction Table</h2>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Timestamp</th>
                          <th>Hash</th>
                          <th>From</th>
                          <th>Contract Address</th>
                          <th>Value</th>
                          <th>Token Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="internal-table-body">
                        <!-- Populated by JS & api call -->
                      </tbody>
                    </table>
                  </div>     
            </div>

            <!-- ERC20 Transactions -->
            <div class="tab-pane fade" id="erc20">
                <div class="container">
                    <h2>Transaction Table</h2>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Timestamp</th>
                          <th>Hash</th>
                          <th>From</th>
                          <th>Contract Address</th>
                          <th>To</th>
                          <th>Value</th>
                          <th>Token Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="erc20-table-body">
                        <!-- Populated by JS & api call -->
                      </tbody>
                    </table>
                  </div>                  
            </div>

            <!-- ERC721 Transactions -->
            <div class="tab-pane fade" id="erc721">
                <div class="container">
                    <h2>Transaction Table</h2>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Timestamp</th>
                          <th>Hash</th>
                          <th>From</th>
                          <th>Contract Address</th>
                          <th>To</th>
                          <th>Token ID</th>
                          <th>Token Name</th>
                          <th>NFT</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="erc721-table-body">
                        <!-- Populated by JS & api call -->
                      </tbody>
                    </table>
                  </div>     
            </div>

        </div>
    </div>
      
    <script>

        // for the API call, to be updated by favourited wallets or search bar
        var trackedWallet = null;
        var internalData = [];
        var erc20Data = [];
        var erc721Data = [];

        const searchButton = document.getElementById('search-btn');
        const searchInput = document.querySelector('.search-address');

        searchButton.addEventListener('click', function() {
        const address = searchInput.value.trim().toLowerCase();
        if (address.length === 40 || address.length === 42) {
            trackedWallet = address;
            updateTransactionTables();
        } else {
            console.log('Invalid address format');
        }
        });

        if (trackedWallet !== null){
            updateTransactionTables();
        }

        function updateTransactionTables() {
            updateInternalData();
            updateERC721Data();
            updateERC20Data();
        }


        function updateInternalData(){
            $.getJSON('https://api.etherscan.io/api', {
                module: 'account',
                action: 'txlistinternal', 
                address: trackedWallet,
                page: 1,           // Set this by a dropdown/standard page mover
                offset: '100',
                startblock: '0',
                endblock: blockNo,
                sort: 'desc',
                apikey: etherscanApi
            })
            .done(function(response) {
                if (response.result) {
                    internalData = response.result;
                    populateInternalTable();                
                }
            })
            .fail(function() {
                console.log('Failed to fetch Internal transactions');
            });
        }

        function updateERC20Data(){
            $.getJSON('https://api.etherscan.io/api', {
                module: 'account',
                action: 'tokentx', 
                address: trackedWallet,
                page: 1,           // Set this by a dropdown/standard page mover
                offset: '100',
                startblock: '0',
                endblock: blockNo,
                sort: 'desc',
                apikey: etherscanApi
            })
            .done(function(response) {
                if (response.result) {
                    erc20Data = response.result;
                    populateERC20Table();                
                }
            })
            .fail(function() {
                console.log('Failed to fetch ERC20 transactions');
            });
        }
            
        function updateERC721Data(){
            $.getJSON('https://api.etherscan.io/api', {
                module: 'account',
                action: 'tokennfttx', 
                address: trackedWallet,
                page: 1,           // Set this by a dropdown/standard page mover
                offset: '100',
                startblock: '0',
                endblock: blockNo,
                sort: 'desc',
                apikey: etherscanApi
            })
            .done(function(response) {
                if (response.result) {
                    erc721Data = response.result;
                    populateERC721Table();                
                }
            })
            .fail(function() {
                console.log('Failed to fetch ERC721 transactions');
            });
        }
      

        function populateInternalTable() {
            const internalTableBody = document.getElementById('internal-table-body');
            internalData.forEach(transaction => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${new Date(parseInt(transaction.timeStamp) * 1000).toLocaleString()}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2"><a href="https://etherscan.io/tx/${transaction.hash}" target="_blank">${transaction.hash.slice(0, 10) + "..."}</a></span>
                            <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.hash}"></i>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2"><a href="https://etherscan.io/address/${transaction.from}" target="_blank">${transaction.from.slice(0, 10) + "..."}</a></span>
                            <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.from}"></i>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2"><a href="https://etherscan.io/address/${transaction.to}" target="_blank">${transaction.to.slice(0, 10) + "..."}</a></span>
                            <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.to}"></i>
                        </div>
                    </td>
                    <td>${transaction.value/1000000000}</td>
                    <td>
                        <i class="bi bi-three-dots-vertical transaction-dropdown dropdown-toggle"></i>
                        <div class="dropdown-menu">
                            <p><strong>Timestamp:</strong> ${transaction.timestamp}</p>
                            <p><strong>Hash:</strong> ${transaction.hash}</p>
                            <p><strong>From:</strong> ${transaction.from}</p>
                            <p><strong>To:</strong> ${transaction.to}</p>
                            <p><strong>Value:</strong> ${transaction.value}</p>
                        </div>
                    </td>`;
                const copyButtons = internalTableBody.querySelectorAll('i[data-clipboard-text]');
                copyButtons.forEach(copyButton => {
                    copyButton.addEventListener('click', (event) => {
                        navigator.clipboard.writeText(copyButton.getAttribute('data-clipboard-text'));
                    });
                });
                internalTableBody.appendChild(tr);
            });
        }


        // Populate ERC20 table
        function populateERC20Table() {
            const erc20TableBody = document.getElementById('erc20-table-body');
            erc20Data.forEach(transaction => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${new Date(parseInt(transaction.timeStamp) * 1000).toLocaleString()}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2"><a href="https://etherscan.io/tx/${transaction.hash}" target="_blank">${transaction.hash.slice(0, 10) + "..."}</a></span>
                            <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.hash}"></i>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2"><a href="https://etherscan.io/address/${transaction.from}" target="_blank">${transaction.from.slice(0, 10) + "..."}</a></span>
                            <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.from}"></i>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2"><a href="https://etherscan.io/address/${transaction.contractAddress}" target="_blank">${transaction.contractAddress.slice(0, 10) + "..."}</a></span>
                            <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.contractAddress}"></i>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2"><a href="https://etherscan.io/address/${transaction.to}" target="_blank">${transaction.to.slice(0, 10) + "..."}</a></span>
                            <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.to}"></i>
                        </div>
                    </td>
                    <td>${transaction.value/1000000000000000000}</td>
                    <td><a href="https://etherscan.io/token/${transaction.contractAddress}" target="_blank">${transaction.tokenName}</a></td>
                    <td>
                    <i class="bi bi-three-dots-vertical transaction-dropdown dropdown-toggle"></i>
                    <div class="dropdown-menu">
                        <p><strong>Timestamp:</strong> ${transaction.timestamp}</p>
                        <p><strong>Hash:</strong> ${transaction.hash}</p>
                        <p><strong>From:</strong> ${transaction.from}</p>
                        <p><strong>Contract Address:</strong> ${transaction.contractAddress}</p>
                        <p><strong>To:</strong> ${transaction.to}</p>
                        <p><strong>Value:</strong> ${transaction.value}</p>
                        <p><strong>Token Name:</strong> ${transaction.tokenName}</p>
                        <p><strong>Token Symbol:</strong> ${transaction.tokenSymbol}</p>
                        <p><strong>Token Decimal:</strong> ${transaction.tokenDecimal}</p>
                    </div>
                    </td>`;
                    const copyButtons = erc20TableBody.querySelectorAll('i[data-clipboard-text]');
                    copyButtons.forEach(copyButton => {
                        copyButton.addEventListener('click', (event) => {
                            navigator.clipboard.writeText(copyButton.getAttribute('data-clipboard-text'));
                    });
                });
            erc20TableBody.appendChild(tr);
            });
        }

        function populateERC721Table() {
            const erc721TableBody = document.getElementById('erc721-table-body');
            erc721Data.forEach(transaction => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                <td>${new Date(parseInt(transaction.timeStamp) * 1000).toLocaleString()}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <span class="mr-2"><a href="https://etherscan.io/tx/${transaction.hash}" target="_blank">${transaction.hash.slice(0, 10) + "..."}</a></span>
                        <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.hash}"></i>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <span class="mr-2"><a href="https://etherscan.io/address/${transaction.from}" target="_blank">${transaction.from.slice(0, 10) + "..."}</a></span>
                        <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.from}"></i>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <span class="mr-2"><a href="https://etherscan.io/address/${transaction.contractAddress}" target="_blank">${transaction.contractAddress.slice(0, 10) + "..."}</a></span>
                        <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.contractAddress}"></i>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <span class="mr-2"><a href="https://etherscan.io/address/${transaction.to}" target="_blank">${transaction.to.slice(0, 10) + "..."}</a></span>
                        <i class="bi bi-clipboard" style="font-size:10px" data-clipboard-text="${transaction.to}"></i>
                    </div>
                </td>
                <td><a href="https://etherscan.io/token/${transaction.contractAddress}?a=${transaction.tokenID}" target="_blank">${transaction.tokenID}</a></td>
                <td><a href="https://etherscan.io/token/${transaction.contractAddress}" target="_blank">${transaction.tokenName}</a></td>
                <td>
                    <i class="bi bi-three-dots-vertical transaction-dropdown dropdown-toggle"></i>
                    <div class="dropdown-menu">
                    <p><strong>Timestamp:</strong> ${transaction.timestamp}</p>
                    <p><strong>Hash:</strong> ${transaction.hash}</p>
                    <p><strong>From:</strong> ${transaction.from}</p>
                    <p><strong>Contract Address:</strong> ${transaction.contractAddress}</p>
                    <p><strong>To:</strong> ${transaction.to}</p>
                    <p><strong>Token ID:</strong> ${transaction.tokenID}</p>
                    <p><strong>Token Name:</strong> ${transaction.tokenName}</p>
                    <p><strong>Token Symbol:</strong> ${transaction.tokenSymbol}</p>
                    <p><strong>Token Decimal:</strong> ${transaction.tokenDecimal}</p>
                    </div>
                </td>`;
                const copyButtons = erc721TableBody.querySelectorAll('i[data-clipboard-text]');
                    copyButtons.forEach(copyButton => {
                        copyButton.addEventListener('click', (event) => {
                            navigator.clipboard.writeText(copyButton.getAttribute('data-clipboard-text'));
                    });
                });
            erc721TableBody.appendChild(tr);
            });
        }       
        
    </script>
      
</body>
  
{% endblock %}